.about-container{
  font-family: 'Roboto', sans-serif;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
    
}
.about-heading{
  
    text-align: center;
    display: block;
}
.about{
  color: #e21135;
}
.my-pic{
height: 10rem;
  margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 40%;
}

.about-text{
  font-size: 1.3rem;
  font-weight: 400;
  padding: 2rem 5rem;
}
.about-quote{
  color:#90908b;
  font-weight: bold;
}
.separator-line{
  width:60%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .about-text{
    font-size: 1rem;
    font-weight: 400;
    padding: 2rem 1rem;
  }
}