.about-container{
        min-height: 100vh; 
        justify-content: center;
        text-align: center;
    
}
.about-heading{
  
    text-align: center;
    display: block;
}
.about{
  color: #e21135;
}
.my-pic{
height: 15rem;
  margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
}

.about-text{
  font-size: 1.3rem;
  font-weight: 400;
  padding:0rem 10rem;
}
.about-quote{
  color:#90908b;
}
.separator-line{
  width:60%;
  margin-left: auto;
  margin-right: auto;
}