.navigation-tray{
    width: 100%;
    text-align: right;
    padding: 15px 10px;
    background-color: black;
    z-index: 100;
    position: fixed;
    top:0px;
    /* right: 10px; */
}
.nav-link{
color: grey;
display: inline;
font-weight: bold;
}
.nav-link:hover{
    color: whitesmoke;
}
.nav-link:hover,:focus{
    color: whitesmoke;
}
@media screen and (max-width: 768px) {
    .navigation-tray{
        text-align: center;
    }
  }