.skills{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.skills>div{
    width: 33.1%;
}
/* .skills-container{
 
width: 100%;
display: flex;
justify-content: center;
align-items: center;
} */
.main-heading{
   text-align: center;
}

.skill-container{
    min-height: 90vh;
    display: inline;
    border: 1px solid rgb(122, 110, 110);
    background-color: gray;
}